files
pycompat
python-module-stampdir
*.debhelper.log
*.substvars
*.debhelper
/python-szn-libcrbmcomputercpu
/szn-libcrbmcomputercpu-dev
/szn-libcrbmcomputercpu-example
/szn-libcrbmcomputercpu0
/tmp
stamp-makefile-*
