Source: crbm-computer-cpu
Section: unknown
Priority: extra
Maintainer: Jiří Hroza <jiri.hroza@firma.seznam.cz>
Build-Depends: debhelper (>= 8.0.0), libblas-dev (>= 1.2)
Standards-Version: 3.9.3

Package: crbm-computer-cpu
Architecture: amd64
Depends: ${shlibs:Depends}, ${misc:Depends}, python
Description: crbm computer
 <insert long description, indented with spaces>

Package: crbm-computer-cpu-example
Architecture: amd64
Depends: ${shlibs:Depends}, ${misc:Depends}, python, python-imaging, python-numpy, crbm-computer-cpu
Description: crbm computer example
 <insert long description, indented with spaces>

